

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 75px;
    width: 90%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 150px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 20px !important;
    margin-top: 0;
    width: 15%;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 5px solid #FFFFFF;
    float: left;
    height: 150px;
    left: 0;
    width: 100%;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 5px solid #c1e729;
    opacity: 0.7;
}

.center_home_m{
 position:relative; 
  }
.center_home_mi{
text-align:left;
position:absolute;
width:100%;
top:0;
padding-top:20%;
padding-left:06%;
background:#0006;
height:100%;
  }
.center_home_mi h1{
font-size:60px;
color:#fff;  
  }
.center_home_mi p{
color:#eee; 
font-size:18px; 
  }
.center_home_mi h5{
display:inline-block;
margin-left:5px;
margin-right:5px; 
  }
#review_home{
 padding-top:40px;
 padding-bottom:40px; 
  }
.progress{
 height:12px; 
 border-radius:0;
 margin-bottom:0;
 margin-top:10px;
  }
.progress-bar-success{
  background:#c1e729;
  }
.review_home_1li{
 margin-top:15px; 
  }
  
#review_home_l{
 padding-top:40px;
 padding-bottom:270px;
 background:#f4f4f4; 
  }
#review_home_l h5{
display:inline-block;
margin-right:10px; 
 } 
#achieve{
 padding-top:40px;
 padding-bottom:40px;
 background:#f4f4f4; 
  }
.achieve_1mi1 span i{
 font-size:60px;
 }
.achieve_1m{
 position:relative; 
  }
.achieve_1mi1{
 position:absolute;
 top:0; 
 background:#0000008a;
 height:100%;
 padding-top:13%;
 padding-left:10px;
 padding-right:10px;
 display:none;
 width:100%;
  }
.achieve_1m:hover .achieve_1mi1{
display:block;
  }
/*********************achieve_end****************/



@media (min-width:768px) and (max-width:991px) {
.center_home .cont-slider img{
 min-height:600px;
  }

 }
 @media (min-width:992px) and (max-width:1200px) {
 
 }
@media (min-width:1201px) and (max-width:1350px) {

 }



